openapi: 3.1.1
info:
  title: WorkOS admin-portal application.client-secrets API
  description: WorkOS REST API
  version: '1.0'
  contact:
    name: WorkOS
    url: https://workos.com
    email: support@workos.com
  license:
    name: MIT
    url: https://opensource.org/license/MIT
servers:
- url: https://api.workos.com
  description: Production
- url: https://api.workos-test.com
  description: Staging
security:
- bearer: []
tags:
- name: application.client-secrets
  description: Manage client secrets for Connect Applications.
  x-displayName: Application Client Secrets
paths:
  /connect/applications/{id}/client_secrets:
    get:
      description: List all client secrets associated with a Connect Application.
      operationId: ApplicationCredentialsController_list
      parameters:
      - name: id
        required: true
        in: path
        description: The application ID or client ID of the Connect Application.
        schema:
          type: string
          example: conn_app_01HXYZ123456789ABCDEFGHIJ
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    object:
                      type: string
                      description: Distinguishes the connect application secret object.
                      const: connect_application_secret
                    id:
                      type: string
                      description: The unique ID of the client secret.
                      example: secret_01J9Q2Z3X4Y5W6V7U8T9S0R1Q
                    secret_hint:
                      type: string
                      description: A hint showing the last few characters of the secret value.
                      example: abc123
                    last_used_at:
                      type:
                      - string
                      - 'null'
                      description: The timestamp when the client secret was last used, or null if never used.
                      example: null
                    created_at:
                      format: date-time
                      type: string
                      description: An ISO 8601 timestamp.
                      example: '2026-01-15T12:00:00.000Z'
                    updated_at:
                      format: date-time
                      type: string
                      description: An ISO 8601 timestamp.
                      example: '2026-01-15T12:00:00.000Z'
                  required:
                  - object
                  - id
                  - secret_hint
                  - last_used_at
                  - created_at
                  - updated_at
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: A human-readable description of the error.
                    example: 'Organization not found: ''org_01EHQMYV6MBK39QC5PZXHY59C3''.'
                required:
                - message
      summary: List Client Secrets for a Connect Application
      tags:
      - application.client-secrets
    post:
      description: Create new secrets for a Connect Application.
      operationId: ApplicationCredentialsController_create
      parameters:
      - name: id
        required: true
        in: path
        description: The application ID or client ID of the Connect Application.
        schema:
          type: string
          example: conn_app_01HXYZ123456789ABCDEFGHIJ
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateApplicationSecretDto'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewConnectApplicationSecret'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: A human-readable description of the error.
                    example: 'Organization not found: ''org_01EHQMYV6MBK39QC5PZXHY59C3''.'
                required:
                - message
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: A human-readable description of the error.
                    example: 'Organization not found: ''org_01EHQMYV6MBK39QC5PZXHY59C3''.'
                required:
                - message
      summary: Create a New Client Secret for a Connect Application
      tags:
      - application.client-secrets
  /connect/client_secrets/{id}:
    delete:
      description: Delete (revoke) an existing client secret.
      operationId: ApplicationCredentialsController_delete
      parameters:
      - name: id
        required: true
        in: path
        description: The unique ID of the client secret.
        schema:
          type: string
          example: secret_01J9Q2Z3X4Y5W6V7U8T9S0R1Q
      responses:
        '204':
          description: No Content
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: A human-readable description of the error.
                    example: 'Organization not found: ''org_01EHQMYV6MBK39QC5PZXHY59C3''.'
                required:
                - message
      summary: Delete a Client Secret
      tags:
      - application.client-secrets
components:
  schemas:
    CreateApplicationSecretDto:
      type: object
      properties: {}
    NewConnectApplicationSecret:
      type: object
      properties:
        object:
          type: string
          description: Distinguishes the connect application secret object.
          const: connect_application_secret
        id:
          type: string
          description: The unique ID of the client secret.
          example: secret_01J9Q2Z3X4Y5W6V7U8T9S0R1Q
        secret_hint:
          type: string
          description: A hint showing the last few characters of the secret value.
          example: abc123
        last_used_at:
          type:
          - string
          - 'null'
          description: The timestamp when the client secret was last used, or null if never used.
          example: null
        created_at:
          format: date-time
          type: string
          description: An ISO 8601 timestamp.
          example: '2026-01-15T12:00:00.000Z'
        updated_at:
          format: date-time
          type: string
          description: An ISO 8601 timestamp.
          example: '2026-01-15T12:00:00.000Z'
        secret:
          type: string
          description: The plaintext secret value. Only returned at creation time and cannot be retrieved later.
          example: abc123def456ghi789jkl012mno345pqr678stu901vwx234yz
      required:
      - object
      - id
      - secret_hint
      - last_used_at
      - created_at
      - updated_at
      - secret
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
      description: 'Your WorkOS API key prefixed with `sk_`. Pass it as a Bearer token: `Authorization: Bearer sk_example_123456789`.'
    access_token:
      scheme: bearer
      bearerFormat: JWT
      type: http
      description: An SSO access token returned from the Get a Profile and Token endpoint.
